.header-section {
  margin: 80px auto;
}

.header-section{
  font-family: 'Saira', sans-serif;
}

.article-item {
  margin-bottom: 20px;
}

.article-item--right {
  text-align: right;
  font-size: 14px;
}

.article-item--left h5{
  font-weight: 600;
  font-size: 18px;
}

.article-item--left h6{
  font-size: 14px;
}
